html
    head
        title All Users
    body 
        table(style= 'wideth:100%', border= '1')
            tr
                th Full Name
                th Username
                th Email
                th Age
                th edit
            tr
                td 
                td 
                td 
            tr
                td 
                td 
                td
            tr
                td 
                td 
                td