footer#footer
    h5 Return to...
    p
        a(href="./createNewUser.pug" style="margin-right: 5px; color: black") Create New User    
        a(href="./allUsers.pug" style="color: black") All Users       